.adminLayout {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.adminSidebar {
  width: 240px;
  flex-shrink: 0;
}

.adminMain {
  flex-grow: 1;
  min-width: 0;
  padding: 24px;
  margin-top: 64px;
}
